.heheha {
    width: 300px;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    margin: 24px auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: identifier-777 3s infinite;
}

.test {
    opacity: 0%;
    animation: fadeIn 2s ease-in-out 0.5s infinite alternate
}

@keyframes identifier-777 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 100%;}
    
}

@keyframes loader {
    0% {transform: rotate(0deg);}
}